
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Declaring Variables */
:root{
  --theme_color: rgb(3, 251, 152);
  --text_color: rgb(32, 251, 3);
  --brown_color: rgb(128, 115, 96);
}

/* Navbar */

.logo{
  height: 80px;
  width: 80px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.488);
}
.navbar{
  background-color: rgba(31, 30, 30, 0.874);
 display: flex;
 flex-direction: row;
 gap: 40%;
 border-bottom: 2px solid rgba(0, 0, 0, 0.185);
 align-items: center;
 justify-content: center;
 position: sticky;
 width: 100vw;
 top: 0px;
 height: 15vh;
 z-index: 10;
 
}

.nav-ele ul{
  display: flex;
  flex-direction: row;
}

.nav-ele ul li{
  list-style: none;
  margin: 0px 20px 0px 20px;
  font-size: 20px;
  font-weight: bolder;
color: white;
}

.nav-ele ul li:hover{
  color: var(--theme_color);
  cursor:grab ;
  transition: 0.2s;
}

/* SECTION BG */
.sectionBg {
  height: 84vh;
  width: 100vw;
  text-align: center;
  
}

.sectionBg img{
  
  height: 87vh;
  width: 100vw;
 }



/* SLIDER */

.slider-navigation{
  z-index: 5;
  position: absolute;
  bottom: 12%;
  left: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: greenyellow;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: #09a6d4;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

/* INFO-SECTION */

.infoSection{
  height: 100vh;
  width: 100vw;
  background-color: #09a6d4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSection-body{
  height: 65vh;
  width: 80vw;
  background-color: aquamarine;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.infoSection-image{
  height: 100%;
  width: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.infoSection-content{
height: 100%;
width: 50%;
background-color: white;
display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text_color);
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
}

.infoSection-content p{
  padding: 0px 30px 0px 30px;
}
.infoSection-image img{
  height: 90%;
  width: 90%;
  border-radius: 10px;
  border: 5px solid greenyellow;
  padding: 5px;
}

/* INFO-SECTION-2 */ 



.infoSection2{
  height: 100vh;
  width: 100vw;
  background-color: #09a6d4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSection2-body{
  height: 65vh;
  width: 80vw;
  background-color: aquamarine;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.infoSection2-img{
  height: 100%;
  width: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.infoSection2-content{
  height: 100%;
  width: 50%;
  background-color: white;
  display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text_color);
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
  }

  .infoSection2-img img{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    border: 5px solid greenyellow;
  }

  .infoSection2-content p{
    padding: 0px 30px 0px 30px;
  }
/* FEATURES */
.features{
  height: 110vh;
  width: 100vw;
  background-color: blanchedalmond;
 
}

.features_containers{
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;

}
.features p{
  text-align: center;
  color: var(--theme_color);
  font-size: 10vh;
  font-weight: bold;
  padding: 10px;
}
  /* FEATURE_CARD CARD */

  .Card{
  height: 40vh;
  width: 20vw;
  border: 2px solid blanchedalmond;
  background-color: blanchedalmond;
  margin: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid white;
  }

  .Card .Card_icon img{
    height: 150px;
    width: 150px;
   
  }

  .Card .Card_des p{
    font-size: 30px;
  }

  .Card:hover{
    position: relative;
    bottom: 50px;
    transition: 1s;
    background-color: rgb(105, 86, 58);
    z-index: 5;
  }


  /* ContactUs */

  .contactUs{
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    
  }
  .contactUs p{
    text-align: center;
    color: var(--theme_color);
    font-size: 10vh;
    font-weight: bold;
    padding: 10px;
  }
  .contactUs-body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .contactUs .contactUs-body ul li{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contactUs .contactUs-body ul li img{
    height: 100px;
    width: 100px;
    margin-right: 50px;
  }

  /* Footer */

  .footer{
    height: 30vh;
    width: 100vw;
    background-color: black;
  }